<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
  <!-- ## for client-side less
  <link rel="stylesheet/less" type="text/css" href="/theme/css/style.less">
  <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.3/less.min.js" type="text/javascript"></script>
  -->
  <link rel="stylesheet" type="text/css" href="/theme/css/style.css">

  <link rel="stylesheet" type="text/css" href="/theme/css/pygments.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Sans|PT+Serif|PT+Mono">
  
  {% if SOCIAL_ICONIFY %}
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
  {% endif %}
  
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="{{ AUTHOR }}">
  <meta name="description" content="Posts and writings by {{ AUTHOR }}">

  {% if FEED_ALL_ATOM %}
  <link href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
  {% endif %}
  {% if FEED_ALL_RSS %}
  <link href="{{ SITEURL }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
  {% endif %}

  {% include "modules/piwik.html" %}
  
  {% block head %}
  {% endblock %}

  <title>
    {% block title %}{{ SITENAME }}{% endblock %}
  </title>

  {% include "modules/analytics.html" %}
</head>


<body>
  <aside>
    {% if lang_siteurls %}
    <div id="lang_buttons">
    <p>
    {% for lang, url in lang_siteurls.items() %}
    <a{% if lang == DEFAULT_LANG %} class="active"{% endif %} href="{{ url }}">{{ lang }}</a> &#124;
    {% endfor %}
    </p>
    </div>
    {% endif %}
    <div id="user_meta">
      <a href="{{ SITEURL }}">
        {% if USER_LOGO_URL %}
        <img src="{{ USER_LOGO_URL }}" alt="logo">
        {% else %}
        <img src="/theme/images/logo.png" alt="logo">
        {% endif %}
      </a>
      <h2><a href="{{ SITEURL }}">{{ AUTHOR }}</a></h2>
      <p>{{ TAGLINE }}</p>
      <ul>
        {% for title, link in MENUITEMS %}
        <li><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}
        {% if DISPLAY_PAGES_ON_MENU %}{% for p in pages %}
        <li><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
        {% endfor %}{% endif %}
        {% for name, link in LINKS %}
        <li><a href="{{ link }}" target="_blank">{{ name }}</a></li>
        {% endfor %}
        {% if SOCIAL and not SOCIAL_ICONIFY %}
        {% for name, link in SOCIAL %}
        <li><a href="{{ link }}" target="_blank">{{ name }}</a></li>
        {% endfor %}
        {% endif %}
      </ul>
      {% if SOCIAL and SOCIAL_ICONIFY%}
      <div class="social">
      &#124;
      {% for name, link in SOCIAL %}
	{% set icon = SOCIAL_ICONS[name] %}
        <a href="{{ link }}" target="_blank"><i class="{{ icon }}"></i></a> &#124;
      {% endfor %}
      </div>
      {% endif %}
    </div>
  </aside>

  <main>
    <header>
      {% block header %}
      <p>
      <a href="{{ SITEURL }}">{% trans %}Index{% endtrans %}</a> &#124; <a href="{{ SITEURL }}/archives.html">{% trans %}Archives{% endtrans %}</a>
      {% if FEED_ALL_ATOM %}
      &#124; <a href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}">{% trans %}Atom Feed{% endtrans %}</a>
      {% endif %}
      {% if FEED_ALL_RSS %}
      &#124; <a href="{{ SITEURL }}/{{ FEED_ALL_RSS }}">{% trans %}RSS Feed{% endtrans %}</a>
      {% endif %}
      </p>
      {% endblock header %}
    </header>

    {% block content %}
    {% endblock %}

    <footer>
      {% block footer %}
      {% endblock %}
    </footer>

    <div id="ending_message">
      <p>&copy; {{ AUTHOR }}. {% trans %}Built using{% endtrans %} <a href="http://getpelican.com" target="_blank">Pelican</a>. {% trans %}Theme adapted from pelican-svbhack available on{% endtrans %} <a href="https://github.com/giulivo/pelican-svbhack" target="_blank">github</a>.</p>
      {% if INTERNET_DEFENSE_LEAGUE %}
      <p>Member of the <a href="http://internetdefenseleague.org">Internet Defense League</a>
      .</p>
      {% endif %}
    </div>
  </main>
  {% include "modules/idl.html" %}
</body>
</html>
